<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentel Safety</title>
    <link rel="stylesheet" href="Styles/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapips.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    
    <header>
    <h1>TentelSafety</h1>
    </header>

<main>
  <section>
    
    <h2>Terms of Service</h2>
    <p></p>
    <p></p>

<hr>
  
<p class="content">- Your server must comply with the Discord Community Rules and Terms of Service.</p>
<p class="content">- You cannot use the TentelSafety functionality to achieve your malicious intentions.</p>
    
  </section>
</main>
    
 <div class="footer-dark" align="center">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="https://tentel-crew.github.io/tentelsafety">Back</a></li>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-privacypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="https://t.me/TentelCrew">Telegram</a></li>
                            <li><a href="https://discord.gg/MgWt7tmEAT">Discord</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>TentelSafety</h3>
                        <p>Safety, Functions, Trusted.</p>
                    </div>
                <p class="copyright">© Tentel Crew 2022-2024 • Not affiliated with Discord Inc.</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>

  </body>
</html>
